services:
  postgres:
    image: postgres:18-alpine
    env_file: .env
    volumes:
      - postgres_data_dev:/var/lib/postgresql/data
    ports:
      - 5432:5432

  valkey:
    image: valkey/valkey:9-alpine
    ports:
      - "6379:6379"

volumes:
  postgres_data_dev:
