@import "tailwindcss";
@plugin "daisyui";
@plugin "daisyui/theme" {
    name: "autumn";
    default: true;
    prefersdark: false;
    color-scheme: "light";
    --color-base-100: oklch(95.814% 0 0);
    --color-base-200: oklch(89.107% 0 0);
    --color-base-300: oklch(82.4% 0 0);
    --color-base-content: oklch(19.162% 0 0);
    --color-primary: #7f1d1d;
    --color-primary-content: oklch(88.144% 0.032 17.53);
    --color-secondary: #9a3412;
    --color-secondary-content: oklch(12.335% 0.033 23.865);
    --color-accent: #1c1917;
    --color-accent-content: oklch(14.685% 0.018 60.729);
    --color-neutral: #000000;
    --color-neutral-content: oklch(90.873% 0.007 51.902);
    --color-info: #0ea5e9;
    --color-info-content: oklch(13.844% 0.019 207.284);
    --color-success: #22c55e;
    --color-success-content: oklch(12.199% 0.016 174.616);
    --color-warning: #eab308;
    --color-warning-content: oklch(14.016% 0.032 56.844);
    --color-error: #ef4444;
    --color-error-content: oklch(90.614% 0.048 24.16);
    --radius-selector: 1rem;
    --radius-field: 0.5rem;
    --radius-box: 1rem;
    --size-selector: 0.25rem;
    --size-field: 0.25rem;
    --border: 1px;
    --depth: 1;
    --noise: 0;
}
@plugin "daisyui/theme" {
    name: "autumn";
    default: true;
    prefersdark: true;
    color-scheme: "dark";
    --color-base-100: oklch(95.814% 0 0);
    --color-base-200: oklch(89.107% 0 0);
    --color-base-300: oklch(82.4% 0 0);
    --color-base-content: oklch(19.162% 0 0);
    --color-primary: #7f1d1d;
    --color-primary-content: oklch(88.144% 0.032 17.53);
    --color-secondary: #9a3412;
    --color-secondary-content: oklch(12.335% 0.033 23.865);
    --color-accent: #1c1917;
    --color-accent-content: oklch(14.685% 0.018 60.729);
    --color-neutral: #000000;
    --color-neutral-content: oklch(90.873% 0.007 51.902);
    --color-info: #0ea5e9;
    --color-info-content: oklch(13.844% 0.019 207.284);
    --color-success: #22c55e;
    --color-success-content: oklch(12.199% 0.016 174.616);
    --color-warning: #eab308;
    --color-warning-content: oklch(14.016% 0.032 56.844);
    --color-error: #ef4444;
    --color-error-content: oklch(90.614% 0.048 24.16);
    --radius-selector: 1rem;
    --radius-field: 0.5rem;
    --radius-box: 1rem;
    --size-selector: 0.25rem;
    --size-field: 0.25rem;
    --border: 1px;
    --depth: 1;
    --noise: 0;
}
